<% @user ||= current_user %>
<div>
<a href = "<%= following_user_path(@user) %>" >
<strong class="stat">
<%=@user.followed_users.count %>
</strong>
Following
</a>
<a href="<%= followers_user_path(@user) %>">
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
