<div class = "">
<div class = "d-flex flex-row align-items-center justify-content-between">
<a href src="#" class="text-light"><i class="fab fa-twitter "></i> </a>
<h4 class="text-light"> KONNECT </h4>
</div>
</div>