<div class="d-flex nav-out align-items-center justify-content-between">
<div>
<i class="fab fa-twitter"></i>
</div>
<div class="mx-5">
<%= link_to "Log in", login_path, method: "get" %>
<%= link_to "Create Account", signup_path %>
</div>
</div>