<div class="d-flex nav-out align-items-center justify-content-between">
<div>
<i class="fab fa-twitter"></i>
</div>
<div class="mx-5">
<p> <%= link_to "Sign out", logout_path, method: "get" %> </p>

</div>
</div>