<div class="d-flex nav-out align-items-center justify-content-between">
<div>
<i class="fab fa-twitter"></i>
</div>
<div class="mx-5">
<a  href src = <%= link_to "Log in", login_path, method: "get" %>  </a>
<a href src = <%= link_to "Create Account", signup_path %>  </a>
</div>
</div>